<div class="container">
    <form ngNativeValidate class="example-form" #form="ngForm" (ngSubmit)="assing( form )">      
        <table class="example-full-width" cellspacing="0">
          <p>Origen</p>
          <div class="container_image">
              <img src="https://maps.googleapis.com/maps/api/staticmap?autoscale=1&size=300x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CCiudad+de+México,CDMX" alt="">
          </div>
           <br>
           <p>Destino</p>
           <div class="container_image">
              <img src="{{coordinates}}" alt="">
           </div>
            <mat-form-field>
                <mat-select placeholder="Conductor" name="driver"  [ngModel]="driver">
                  <mat-option *ngFor="let driver of drivers"  [value]="driver._id" >{{driver.name}}</mat-option>
              </mat-select>
            </mat-form-field>
           <br>
              <button mat-button color="primary">Asignar</button>
        </table>
      </form>
</div>