<div class="container">
    <form class="example-form" #v="ngForm" (ngSubmit)="updateVehicle( v )">      
        <table class="example-full-width" cellspacing="0"><tr>
          <mat-form-field class="example-full-width" color="primary">
            <input matInput type="text" min="10" placeholder="Tipo"  name="vehicleType" [(ngModel)]="vehicleType" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="6" max="6" placeholder="Plates"name="plates" [(ngModel)]="plates" required>
           </mat-form-field>
           <br>
           <mat-form-field class="example-full-width" color="primary">
              <input matInput type="date" min="10" placeholder="SOAT"name="dateSOAT" [(ngModel)]="dateSOAT" required>
           </mat-form-field>
           <br>
            <mat-form-field>
                <mat-select placeholder="Flota" name="shipping"  [ngModel]="shipping" required>
                  <mat-option *ngFor="let ship of shippings"  [value]="ship._id" >{{ship.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" color="primary">
               <input matInput type="text" min="10" placeholder="Origen" name="coordinates" [(ngModel)]="coordinates">
            </mat-form-field>
           <br>
           <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="10" placeholder="status" disabled name="status" [(ngModel)]="status">
           </mat-form-field>
            <br>
              <button mat-button color="primary" [disabled]="!v.valid">Actualizar</button>
              <button mat-button color="warn" routerLink="/shipping">Regresar</button>
        </table>
      </form>
</div>