<div class="container">
    <form ngNativeValidate class="example-form" #form="ngForm" (ngSubmit)="postVehicle( form )">      
        <table class="example-full-width" cellspacing="0"><tr>
          <mat-form-field class="example-full-width" color="primary">
            <input matInput type="text" min="10" placeholder="Tipo" name="vehicleType" [(ngModel)]="vehicleType" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" #input minlength="6" maxlength="6" placeholder="Placas" pattern="[0-9A-Z]*" name="plates" [(ngModel)]="plates" required>
              <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
              <mat-error *ngIf="!form.valid">Debe de contener caracteres de 0-9 y de la A-Z</mat-error>
           </mat-form-field>
           <br>
           <mat-form-field class="example-full-width" color="primary">
              <input matInput type="date" min="10" placeholder="SOAT"name="dateSOAT" [(ngModel)]="dateSOAT" required>
           </mat-form-field>
           <br>
           <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" minlength="30" maxlength="30" placeholder="19.411224,-99.1727621" name="cordDestino" [(ngModel)]="cordDestino" required>
              <mat-error *ngIf="!form.valid">Debe de contener de contener un formato valido</mat-error>
           </mat-form-field>
           <br>
            <mat-form-field>
                <mat-select placeholder="Flota" name="shipping"  [ngModel]="shipping" required>
                  <mat-option *ngFor="let ship of shippings"  [value]="ship._id" >{{ship.name}}</mat-option>
              </mat-select>
            </mat-form-field>
           <br>
           <!-- <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="10" placeholder="status"name="status" [(ngModel)]="status">
           </mat-form-field> -->
            <br>
              <button mat-button color="primary">Registrar</button>
              <button mat-button color="warn" routerLink="/shipping">Regresar</button>
        </table>
      </form>
</div>