<div class="container">
    <form ngNativeValidate class="example-form" #driver="ngForm" (ngSubmit)="updateDriver( driver )">
        <table class="example-full-width" cellspacing="0"><tr>
          <!-- <td> -->
          <mat-form-field class="example-full-width" color="primary">
            <input matInput type="text" min="10" placeholder="Nombre" name="name" [ngModel]="name" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="10" placeholder="Apellidos" name="apells" [ngModel]="apells" required>
           </mat-form-field>
           <br>
           <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="10" placeholder="Tipo de documento" name="doctype" [ngModel]="doctype" required>
           </mat-form-field>
           <br>
           <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="10" placeholder="Numero de documento" name="docnumber" [ngModel]="docnumber" required>
           </mat-form-field>
             <br>
             <br>
              <button mat-button color="primary" [disabled]="!driver.valid">Actualizar</button>
              <button mat-button color="warn" routerLink="/drivers">Regresar</button>
        </table>
      </form>
</div>