<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="pointer" (click)="main()">Assign Driver</span>
    <span class="example-spacer"></span>

    <!-- actions for shipping -->
    <button mat-button [matMenuTriggerFor]="flota">Flota</button>
    <mat-menu #flota="matMenu">
      <button mat-menu-item routerLink='/shipping/create'>Crear Flota</button>
    </mat-menu>

    <!-- actions for vehicle -->
    <button mat-button [matMenuTriggerFor]="vehicle">Vehiculos</button>
    <mat-menu #vehicle="matMenu">
      <button mat-menu-item routerLink="/vehicles/create">Crear Vehiculo</button>
      <button mat-menu-item routerLink="/shipping">Ver Vehiculos</button>
    </mat-menu>
    
    <!-- actions for shipping -->
    <button mat-button [matMenuTriggerFor]="driver">Conductores</button>
    <mat-menu #driver="matMenu">
      <button mat-menu-item routerLink="/drivers/create">Crear Conductor</button>
      <button mat-menu-item routerLink="/drivers">Ver conductores</button>
    </mat-menu>
    
  </mat-toolbar-row>
</mat-toolbar>
