<mat-card class="card-shipping">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div>  -->
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="column">
       {{driver.name}} {{driver.apells}}       
      </mat-card-title>
      <mat-card-subtitle>{{driver.status}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://source.unsplash.com/random/800x600/?faces" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Tipo de documento: {{driver.doctype}}</p>
      <p>Número de documento: {{driver.docnumber}}</p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button  [routerLink]="['driver/edit', driver._id]">Editar</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>