<mat-card class="card-shipping">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div>  -->
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="column">
          <!-- {{shippin}} -->
          <!-- <mat-form-field>
              <input matInput type="text" min="10" placeholder="{{vehicle.vehicleType}}" disabled="{{editar}}">
          </mat-form-field>
  
          <mat-form-field>
              <input matInput type="text" min="10" placeholder="{{vehicle.plates}}" disabled="{{editar}}">
          </mat-form-field> -->
          
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
  
      <p></p>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button [routerLink]="['vehicle/edit', vehicle._id]">Editar</button> -->
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>