<div class="container">
<form ngNativeValidate class="example-form" #f="ngForm" (ngSubmit)="postShipping( f )">
    <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="Número de flotilla">
    </mat-form-field> -->
  
    <table class="example-full-width" cellspacing="0"><tr>
      <!-- <td> -->
      <mat-form-field class="example-full-width" color="primary">
        <input matInput type="text" min="10"maxlength="10" placeholder="Nombre" name="name" [ngModel]="name" required>
        <mat-error *ngIf="!f.valid">Nombre de flota requerido</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" color="primary">
          <textarea matInput type="text" #input minlength="15" maxlength="60" placeholder="Description" name="description" [ngModel]="description" required></textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/60</mat-hint>
          <mat-error *ngIf="!f.valid">La descripción dede de contener un mínimo de 15 caracteres.</mat-error>
       </mat-form-field>
      <!-- </td> -->
      <!-- <td> --><br>
          <button mat-button color="primary">Registrar</button>
          <button mat-button color="warn" routerLink="/shipping">Vehiculos</button>
      <!-- </td> -->
    </table>
  </form>
</div>