<div class="container">
    <form ngNativeValidate class="example-form" #driver="ngForm" (ngSubmit)="postDriver( driver )">
        <!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="Número de flotilla">
        </mat-form-field> -->
      
        <table class="example-full-width" cellspacing="0"><tr>
          <!-- <td> -->
          <mat-form-field class="example-full-width" color="primary">
            <input matInput type="text" min="10" placeholder="Nombre" name="name" [ngModel]="name" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="10" placeholder="Apellidos" name="apells" [ngModel]="apells" required>
           </mat-form-field>
           <br>
           <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="10" placeholder="Tipo de documento" name="doctype" [ngModel]="doctype" required>
           </mat-form-field>
           <br>
           <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="10" placeholder="Numero de documento" name="docnumber" [ngModel]="docnumber" required>
           </mat-form-field>
           <br>
           <!-- <mat-form-field class="example-full-width" color="primary">
              <input matInput type="text" min="10" placeholder="Status" name="status" [ngModel]="status">
           </mat-form-field>           -->
          <!-- </td> -->
          <!-- <td> --><br>
            <!-- <mat-form-field class="example-full-width" color="primary">
                <input matInput type="text" min="10" placeholder="Vehicle" name="vehicle" [ngModel]="vehicle">
             </mat-form-field> -->
             <br>
              <button mat-button color="primary">Registrar</button>
              <button mat-button color="warn" routerLink="/drivers">Regresar</button>
          <!-- </td> -->
        </table>
      </form>
</div>