._card{
	display: inline-block;
  width: 200px;
  height: 100px;
	margin: 1em .5em 1em 2em;	
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}