
<mat-card class="card-shipping">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div>  -->
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="column">
        {{vehicle.vehicleType}}
        <!-- <mat-form-field>
            <input matInput type="text" min="10" placeholder="{{vehicle.vehicleType}}" disabled="{{editar}}">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" min="10" placeholder="{{vehicle.plates}}" disabled="{{editar}}">
        </mat-form-field> -->
        
    </mat-card-title>
    <mat-card-subtitle>{{vehicle.plates}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://source.unsplash.com/random/800x600/?cars" alt="Car">
  <mat-card-content>

    <p>Status: {{vehicle.status}}</p>
    <p>Driver: {{vehicle.driver}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button [routerLink]="['vehicle/edit', vehicle._id]">Editar</button>
    <button *ngIf="vehicle.status != 'assigned'" mat-button mat-raised-button color="primary" [routerLink]="['vehicle/assing', vehicle._id]">Asignar</button>
  </mat-card-actions>
</mat-card>